<% content_for(:title, "Cider Optimization") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/drinks">Ciders</a></li>
<% end %>


<div class="container">
  <h1>Name: <%= @drink.name %></h1>
  <h4>Fruit type: <%= @drink.fruit %> </h4>
  <h4>Cider origin: <%= @drink.origin %> </h4>
  <h4>Cider cost: $ <%= @drink.cost %> </h4>
  <h4>Cider description: <%= @drink.description %> </h4>
  <hr>

  <% if @drink.batches.any? %>
    <h4>Here are the batches for this cider:</h4>
    <ul>
      <% @drink.batches.each do |batch| %>
        <li>
          <%= link_to batch.batch_name, drink_batch_path(batch) %> | <%= batch.fruit_type %> | <%= batch.fruit_weight %> | <%= batch.barrel_type %> | <%= batch.fruit_cost %> | <%= batch.alcohol_content %> | <%= batch.pH %> | <%= batch.temperature %>
          <% if user_signed_in? %>
          <%= link_to "Edit", edit_drink_batch_path(@drink, batch), id: "edit_batch_js", remote: true %> |
          <%= link_to "Delete", drink_batch_path(@drink, batch),
                                      :data => {:confirm => "Are you sure?",
                                                    :method => "delete"} %>
          <div id="batch-<%= batch.id %>">

          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>There are not batches yet!</p>
  <% end %>
  <% if user_signed_in? %>
  <p><%= link_to "Add a Batch", new_drink_batch_path(@drink), id: "new_batch_js", remote: true %></p>
  <p><%= link_to "Update Drink", edit_drink_path(@drink), id: "edit_drink_js", remote: true %></p>
  <div id="drink-<%= @drink.id %>">

  </div>
  <p><%= link_to "Delete Drink", drink_path(@drink),
                                    :data => {:confirm => "You sure?",
                                      :method => "delete"} %></p>

  <% end %>
  <p><%= link_to "Return to Drinks", drinks_path%></p>
</div>
