<h1><%= @drink.name %></h1>
<h4><%= @drink.fruit %> </h4>
<h4><%= @drink.origin %> </h4>
<h4>$<%= @drink.cost %> </h4>
<h4>$<%= @drink.description %> </h4>
<hr>

<p><%= link_to "Return to Drinks", drinks_path%></p>
