<h2>Show Batch page</h2>

<h2>Cider name: <%= @drink.name %></h2>
<h3>Batch Name: <%= @batch.batch_name %></h3>
<p>Fruit Type: <%= @batch.fruit_type %></p>
<p>Starting Fruit Weight:<%= @batch.fruit_weight %> lbs.</p>
<p>Fruit Cost: $<%= @batch.fruit_cost %></p>
<p>Barrel Type: <%= @batch.barrel_type %></p>
<p>Fermentation Temperature: <%= @batch.temperature %>ºF</p>
<p>Alcohol Content: <%= @batch.alcohol_content %> %</p>
<p>pH: <%= @batch.pH %></p>
